
{% extends "term/layout.html" %}

{% block sidebar %}
	<div class="pull-right">
	  <div class="list-group">
  		{% for endpoint, label in [('term.station', '充电站'),
  		                         ('term.stake', '充电桩或车载终端'),
  								 ('term.measure', '测点')] %}
  		<a class= "list-group-item {% if request.endpoint==endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">{{ label }}</a>
  		{% endfor %} 
	  </div>
	</div>
{% endblock sidebar %}

{% block content %}
        <a href="{{ url_for('term.station_new') }}"
           class="btn btn-success"> 新建</a>
{% from "helper/_table.html" import render_table  %}
{{ render_table(table) }}

{% endblock content %}
