
{% extends "term/layout.html" %}

{% block content %}      
{% from "helper/_form.html" import render_field %}
<form id="stationform" method="POST" action="{{ url_for('term.measure_show') }}" class="form" style="margin-left:0px;">
    {{ render_field(form.no) }}
    {{ render_field(form.name) }}
    {{ render_field(form.stake_name) }}
	{{ render_field(form.curr_value) }}
	
    <div class="form-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">确定</button>
        </div>
    </div>
</form>

{% endblock %}      