
{% extends "term/layout.html" %}

{% block sidebar %}
	<div class="pull-right">
	  <div class="list-group">
	    <a class="list-group-item active" href="{{ url_for('term.station') }}">充电站</a>
	    <a class="list-group-item" href="{{ url_for('term.stake') }}">充电桩或车载终端</a>
	  </div>
	</div>
{% endblock sidebar %}

{% block content %}      

{% from "helper/_form.html" import render_field %}
<form role="form" class="form-horizontal" id="stationform" method="POST" action="{{ url_for('term.station_show') }}" class="form" style="margin-left:0px;">
    {{ render_field(form.name) }}
    {{ render_field(form.address) }}
    {{ render_field(form.type) }}
	
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">确定</button>
        </div>
    </div>
</form>

{% endblock %}      
